<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686d7f">  <td>20/03/18 09:17:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01Suscripcion.IngresoAmbiente()[pri:0, instance:test.Test01Suscripcion@2a17b7b6]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/03/18 09:18:05</td>   <td>8787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01Suscripcion.checkAllBbcMundo()[pri:1, instance:test.Test01Suscripcion@2a17b7b6]">checkAllBbcMundo</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/03/18 09:18:23</td>   <td>25876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01Suscripcion@2a17b7b6]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/03/18 09:18:23</td>   <td>26446</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.CloseChrome()[pri:0, instance:test.Test01Suscripcion@2a17b7b6]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
</table>
